SUPABASE_URL=https://bmujrwrzyxllrmpjtzeq.supabase.co
SUPABASE_KEY=your-supabase-anon-key-here
SUPABASE_SECRET=your-supabase-secret-key-here
DATABASE_URL=postgresql://postgres:[PASSWORD]@bmujrwrzyxllrmpjtzeq.db.supabase.co:5432/postgres

API_URL=http://127.0.0.1:8000
GEMINI_API_KEY=your-gemini-api-key-here
